
            .pagination {
                display: inline-block;
            }

            .pagination a {
                color: black;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
            }

            .pagination a.active {
                background-color: #11960f;
                color: white;
                border-radius: 5px;
            }

            .pagination a:hover:not(.active) {
                background-color: #ddd;
                border-radius: 5px;
            }

            nav {
                position: fixed;
                top: 0;
                width: 100%;
                z-index: 3;
            }

            .nav-link:hover {
                border-bottom: 3px solid rgba(5, 121, 5, 0.624);
            }

            .kontak {
                font-family: verdana;
                font-size: 14px;
                color: black;
            }

            .kontak:hover {
                text-decoration: none;
            }

            .kebijakan {
                color: black;
            }

            .kebijakan:hover {
                text-decoration: none;
            }

            .garis {
                color: lightgray;
                width: 85%;
            }